In [2]:
import sys
sys.path.insert(0, '/home/johnr_000/jupyter_blog/jupyter_blog/scripts')
import eia_model as em
import pandas as pd
from datetime import datetime

In [3]:
class GetSeriesRange(em.GetSeries):
    '''
    Performs a call to the EIA API based on date range and captures the response
    valid kwargs:
        :param api_key: an valid API key provided by EIA
        :param series: a valid EIA series ID
        :param start: a start date in '%Y-%m-%d %H:%M:%S' fromat
        :param end: a end date in '%Y-%m-%d %H:%M:%S' fromat
        :freq: a valid frequency ('A' : annual, 'M': monthly, 'W': weekly, 
            'D': daily, 'H': hourly)
    '''
    
    def create_parms(self):
        '''
        Convert kwargs into a list to pass into api call
        '''
        try:
            kwargs_list = [['api_key', self.kwargs['api_key']]]
            kwargs_list.append(['series_id', self.kwargs['series_id']])
            kwargs_list.append(['start', self.format_date(self.kwargs['freq'], self.kwargs['start'])])
            kwargs_list.append(['end', self.format_date(self.kwargs['freq'], self.kwargs['end'])])
        except KeyError:
            pass
        return kwargs_list
    
    def format_date(self, freq, date):
        """formats input dates to correct"""
        date = datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
        freq_dict = {'A': '%Y', 'M': '%Y%m', 'W': '%Y%m%d',
                     'D': '%Y%m%d', 'H': '%Y%m%dT%HZ'}
        formatted_date = datetime.strftime(date, freq_dict[freq])
        return formatted_date

In [4]:
#variables to specify date range and frequency
api_key = em.eia_api
start = '2016-08-11 01:00:00'
end = '2016-08-11 23:00:00'
freq = 'H'
# create list of series used for dictionary keys
keys = ['EBA.BPAT-ALL.D.H', 'EBA.PACE-ALL.D.H ', 'EBA.PACW-ALL.D.H', 
        'EBA.PGE-ALL.D.H ', 'EBA.PSEI-ALL.D.H', 'EBA.SCL-ALL.D.H ']
# create dict of GetSeriesRange objects from series list
series_dict = {key: GetSeriesRange(api_key=api_key, series_id=key, 
                                   start=start, end=end, freq=freq) for key in keys}

In [11]:
# loop over dictionary and print out full name of each series
for key in series_dict:
    print('{}: {}'.format(series_dict[key].data.series[0]['name'],key))

Demand for Puget Sound Energy, Inc. (PSEI), Hourly: EBA.PSEI-ALL.D.H
Demand for PacifiCorp West (PACW), Hourly: EBA.PACW-ALL.D.H
Demand for PacifiCorp East (PACE), Hourly: EBA.PACE-ALL.D.H
Demand for Bonneville Power Administration (BPAT), Hourly: EBA.BPAT-ALL.D.H
Demand for Seattle City Light (SCL), Hourly: EBA.SCL-ALL.D.H
Demand for Portland General Electric Company (PGE), Hourly: EBA.PGE-ALL.D.H

In [17]:
# all the dataframes have the same date range so we can concatenate in a loop
concat_df = pd.concat([series_dict[key].data.df for key in series_dict], axis=1)

                     values  values  values  values  values  values
2016-08-11 23:00:00    3835    3077    6692    6966    1192    3045
2016-08-11 22:00:00    3787    2979    6575    6831    1179    2944
2016-08-11 21:00:00    3737    2862    8509    6711    1180    2859
2016-08-11 20:00:00    3671    2756    5812    6597    1170    2720
2016-08-11 19:00:00    3474    2629  -17181    6440    1152    2630
2016-08-11 18:00:00    3564    2541    3786    6267    1139    2537
2016-08-11 17:00:00    3477    2412    6004    6080    1116    2423
2016-08-11 16:00:00    3391    2292    6315    5918    1086    2345
2016-08-11 15:00:00    3201    2204    4772    5702    1019    2222
2016-08-11 14:00:00    3041    2072    4976    5420     915    2050
2016-08-11 13:00:00    2870    2044    4790    5173     811    1861
2016-08-11 12:00:00    2699    1902    4572    4931     755    1729
2016-08-11 11:00:00    2646    1861    4497    4798     730    1698
2016-08-11 10:00:00    2659    1904    4472    4899     746    1731
2016-08-11 09:00:00    2714    1971    4507    4916     771    1802
2016-08-11 08:00:00    2824    2079    4644    5180     822    1938
2016-08-11 07:00:00    3048    2244    4924    5547     888    2116
2016-08-11 06:00:00    3328    2465    5280    6022     978    2371
2016-08-11 05:00:00    3570    2565    5753    6454    1062    2597
2016-08-11 04:00:00    3573    2665    6172    6662    1062    2662
2016-08-11 03:00:00    3562    2699    6298    6721    1074    2703
2016-08-11 02:00:00    3568    2811    7617    6777    1103    2750
2016-08-11 01:00:00    3609    2818    6696    6764    1146    2754